@use "../../sass/mixins/mixin" as mix;
@use "../../sass/abstracts/colors" as colors;

.input {
  @include mix.sizeSettings($height: 5rem, $width: 40rem);
  @include mix.fontSettings($size: 2rem);
  text-align: center;
  border-radius: 20rem;
  padding: 2rem;
  margin: 1rem;
  border: none;
  outline-color: colors.$primary;
  outline-offset: -0.3rem;

  &.modal {
    @include mix.sizeSettings($height: 1rem, $width: 10rem);
    @include mix.fontSettings($size: 1rem);
    padding: 1rem;
  }
}
