@use "../../sass/mixins/mixin" as mix;
@use "../../sass/abstracts/colors" as colors;

.card-list {
  @include mix.flexBox($direction: column, $align: center);
  width: 100%;
  gap: 0.5rem;
  background-color: colors.$primary-container;

  h2 {
    padding-top: 1rem;
    @include mix.fontSettings($size: 2rem, $weight: 500);
  }

  .loader { 
    margin-top: 22rem;
    width: 100px; 
    height: 100px; 
    animation: rotate 1s linear infinite;
  
    @keyframes rotate {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
  .card-container {
    margin-bottom: 1rem;
    overflow: auto;

    a {
      text-decoration: none;
    }
  }

  .card-container::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}
