@use "../../sass/mixins/mixin" as mix;
@use "../../sass/abstracts/colors" as colors;

.card {
  @include mix.flexBox($align: center, $justify: center);
  @include mix.sizeSettings($width: 36rem, $height: 10rem);
  @include mix.fontSettings($size: 1.3rem, $weight: 500);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #ffffff;
  gap: 2rem;
  margin-bottom: 1rem;
  color: black;

  .cover-container {
    .loader { 
      width: 50px; 
      height: 50px; 
      animation: rotate 1s linear infinite;
    
      @keyframes rotate {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
    }
  }

  .info-container {
    min-width: 20rem;
    max-width: 20rem;
    max-height: 10rem;
    overflow: auto;

    p {
      padding: 1rem;
      text-decoration: none;

      span {
        font-weight: 700;
      }
    }
  }
}
