@use '../../sass/abstracts/colors' as colors;
@use '../../sass/mixins/mixin' as mix;

.header {
    height: 8rem;
    width: 100%;
    background-color: colors.$primary-container;
    @include mix.flexBox($direction: row, $justify: space-between, $align: center);
    padding: 2rem;

    a.active {
        background-color: colors.$primary;
        border-radius: 10rem;
    }

    h1 {
        @include mix.fontSettings($style: italic, $size: 3rem);
        padding-top: 1rem;
    }
}