@mixin flexBox($display: flex, $direction: row, $justify: flex-start, $align: flex-start) {
    display: $display;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

